html {
  scroll-behavior: smooth;
}

body, html{
  height:100%;
  margin:0;
  font-size:18px;
  font-family:'Roboto', 'Roboto';
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.primary-color {
  background-color: #aa66cc;
}

.navbar {
  width: 100%;
  box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.08);
}

.navbar-dark{
  background-color: #aa66cc;
  width: 100%;
  border-width: 0;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}

.mynav-1 {
  margin-bottom: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.mynav-1 {
  margin-bottom: 0;
}

.navbar-toggler {
  border: 0px;
}

.navbar-dark .navbar-toggler-icon {
background-image: url("https://mdbootstrap.com/img/svg/hamburger7.svg?color=fff");
}

.MyTitle {
    position: relative;
    height: 100vh;
    background-image: url("../img/Titleimage.jpg");
    background-size:  cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.logo {
  height: 16vw;
  width: 80vw;
  background-image: url("../img/Title2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80vw, 16vw;
  position: absolute;
  --a: 59px;
  --b: 50%;
  top: calc(var(--b) - 0.5 * var(--a));
  margin-top: -8vw;
  margin-left: 10vw;
  opacity: 0.75;
}

.jumbotron{
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  padding: 4rem 2rem;
}

.section-light{
  text-align: center;
  background-color:#f4f4f4;
  color:#666;
}

.section-light h2 {
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
}

.section-light h6 {
  font-size: 20px;
  font-weight: bold;
}

img.resize {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin-top: 35%;
  margin-bottom: auto;
}

img.shadows {
  box-shadow: 5px 3px 2px rgba(0,0,0,0.2);
  transition: all 0.4s ease-in-out;
}

@media only screen and (min-width : 1150px) {
  img.resize {
    margin-top: 20%;
  }
}

@media only screen and (min-width : 1200px) {
  img.resize {
    margin-top: 10%;
  }
}

@media only screen and (min-width : 1300px) {
  img.resize {
    margin-top: 0%;
  }
}

@media only screen and (max-width : 992px) {
  img.resize {
    min-width: 320px;
    min-height: 320px;
    max-width: 330px;
    max-height: 330px;
    border-radius: 50%;
    margin-top: 0%;
    opacity:1
  }

}

@media only screen and (max-width : 768px) {
  img.resize {
    min-width: 240px;
    min-height: 240px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin-top: 0%;
    opacity:1
  }

}

.striped-border {
    border: 2px dashed #aa66cc;
    min-width: 300px;
    width: 35%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.parallax1 {
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/ParallaxBackground1.jpg");
}

.parallax1 p {
  font-size: 16px;
  color:#666;
  text-align: left;
}

/* Heading for Parallax Section */
.parallax1 h1 {
  color: rgba(255,255,255,1);
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.3);
}

.parallax1 h3 {
  color: rgba(255,255,255,1);
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.3);
}

.card {
  border: 5px solid #aa66cc;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.card {
  margin-left: 6.25%;
  width: 87.5%;
}

.card-title {
  font-weight: 600;
}

.card-text{
  transition: all 0.4s ease-in-out;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.card img {
  border-radius: 0;
  transition: all 0.4s ease-in-out;
}

.striped-border2 {
    border: 2px dashed #aa66cc;
    min-width: 70px;
    width: 70%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card:hover {
  background-color: #282e34;
  color: #fff;
}

.parallax1 .card:hover {
  background-color:#000;
  color: #fff;
}

.card:hover .card-text{
  color: #fff;
}

.card:hover img{
  transform: scale(1.08);
}

.card .btn {
  width: 90%;
  margin-left: 5%;
}

.btn-primary{
  background-color: #aa66cc;
  border-color: #aa66cc;
}

.btn-primary:hover {
  background-color: #9e52cf;
  border-color: #aa66cc;
}

.section-dark{
  padding: 72px, 10vw;
  text-align: left;
  background-color:#282e34;
  color:#ddd;
}

.section-dark h2 {
  color: #fff;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
}

.section-dark h6 {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 900px) {
   .padding {
     padding: 4rem 6rem;
   }
}

@media only screen and (max-width : 768px) {

  .parallax1 h2 {
    font-size: 40px;
  }
}

.parallax2 {
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/ParallaxBackground2.jpg");
}

.parallax2 p {
  font-size: 16px;
  color:#666;
  text-align: left;
}

/* Heading for Parallax Section */
.parallax2 h1 {
  color: rgba(255,255,255,1);
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.3);
}

.parallax2 h3 {
  color: rgba(255,255,255,1);
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.3);
}

.section-light h6{
  margin-bottom: 1rem;
}

span.thinItalic {
  font-weight: lighter;
  font-style: italic;
}

.parallax3 {
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/ParallaxBackground3.jpg");
}

.parallax3 p {
  font-size: 16px;
  color:#666;
  text-align: left;
}

/* Heading for Parallax Section */
.parallax3 h1 {
  color: rgba(255,255,255,1);
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.3);
}

.parallax3 h3 {
  color: rgba(255,255,255,1);
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
  text-shadow: 4px 3px 0px rgba(0,0,0,0.3);
}

img.resize2 {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  opacity:1
}

.project {
  padding: 0px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.project img {
  transition: all 0.4s ease-in-out;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 25px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  color: #fff;
}

.project:hover .centered {
  opacity: 1;
}

.project:hover img {
  opacity: 0.65;
  -webkit-filter: blur(7px); /* Safari 6.0 - 9.0 */
  filter: blur(7px);
}

.vertical-align-middle {
    vertical-align: middle;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.section-dark a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

@media only screen and (max-width : 768px) {

  img.resize2 {
    min-width: 240px;
    min-height: 240px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    opacity:1
  }

  .project {
    min-width: 240px;
    min-height: 240px;
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 30px;
  }

  .card {
    --a: 15vw;
    --b: 2rem;
    --c: 15px;
    margin-left: calc(var(--a) - var(--b) - var(--c));
    width: 70vw;
  }

  .row .card {
    --a: 15vw;
    --b: 2rem;
    --c: 15px;
    margin-left: calc(var(--a) - var(--b));
    width: 70vw;
  }
  }

  @media only screen and (max-width : 580px) {

    .section-light h2 {
      font-weight: bold;
      font-size: 40px;
      padding-top: 10px;
    }

    .section-dark h2 {
      font-weight: bold;
      font-size: 40px;
      padding-top: 10px;
    }

    .parallax1 h1 {
      font-weight: bold;
      font-size: 40px;
      padding-top: 10px;
    }

    .parallax2 h1 {
      font-weight: bold;
      font-size: 40px;
      padding-top: 10px;
    }

    .parallax3 h1 {
      font-weight: bold;
      font-size: 40px;
      padding-top: 10px;
    }

    .striped-border {
        min-width: 200px;
    }
  }
